

.form {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 50vh;
    margin-top: 4vh;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);

}
.formulario{
    display: flex;
    flex-direction: column;

}

.button-form-container{
    display: flex;
    flex-direction: row;
    
}
.form form{
    
    width: 100%;  
}

.form-group {
    
   margin-bottom: 1em; 
}
.column{
    float: left;
    width: 50%;
    height: 100%;

}
.label-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
}

.input-container{
    width: 90%;   
}

.input-container input{
    width: 100%;
   
}

.categories{
    width: 91%;
}

.county-box{
    width: 91%;
}

.button button{
  background-color: white;
  border: solid hsl(182, 38%, 68%);
  color: white;
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em ;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 8em;
}



.button button:hover {
    background-color:  hsl(182, 38%, 68%);
    color: white;
}

.category-name{

    width: 100%;

    select{
        width: 100%;
    }
   
}