.form {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 50vh;
    margin-top: 4vh;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);

}

.formulario{
    display: flex;
    flex-direction: column;

}

.form form{
    
    width: 100%;  
}

.form-group {
    
   margin-bottom: 1em; 
}

.label-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

.input-container input, .input-container select{
    width: 100%;
}

.input-container select{
    padding: 0.1em;
}

.ck-editor__editable{
    height: 18vh;
}

.boximages{

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.single-image{
    width: 40%;

}

.collection-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    
}

.upload-collection{
    margin: 0.5em;
    border: 0.2em dashed hsl(183, 98%, 35%);
    color: #cccccc;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em ;
    height:7vh ;
}

.multiple-images{

    width: 40%;
}

.p{
    height: 2vh;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 0.2em;
}