.form {
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: max-content;
    margin-top: 4vh;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);

}

.formulario{
    display: flex;
    flex-direction: column;

}

.form form{
    
    width: 100%;  
}
.language-bar-form{
    margin-bottom: 00.5em;
}

.form-group {
    
   margin-bottom: 1em; 
}

.label-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
}

.input-container input, .input-container select{
    width: 100%;
}

.input-container select{
    padding: 0.1em;
}

.ck-editor__editable{
    height: 18vh;
   
}

textarea{
    width: 100%;
    height: 20vh;
}

.import-content{
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: center;
}
#import-tags{
    width: 90%;
    height: 4vh;
    border-radius: 0.5em;
    background-color: hsl(183, 98%, 35%);
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
       svg{
           width: 2em;
           height:2em ;
       }
}

.buttons-seo{

   
    height: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;

    .buttons-seo-content{
        
        width: 100%;
        height: 4em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        #import-seo{

            width: 46%;
            height: 3em;
            background-color: hsl(183, 98%, 35%);
            color: white;
            border-radius: 0.5em;

        }

        #ping-google{

            width: 46%;
            height: 3em;
            background-color: hsl(183, 98%, 35%);
            color: white;
            border-radius: 0.5em;
        }
        #import-seo:hover{

            color: hsl(19, 100%, 50%);
            background-color: white;
           
        
        }
        #ping-google:hover{

            color: hsl(19, 100%, 50%);
            background-color: white;
            
        }
    }
}

.sitemap-button{
   
    width: 100%;
    height: 40vh;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
    #create-sitemap{
        width: 70%;
        height: 3em;
        background-color: hsl(183, 98%, 35%);
        color: white;
        border-radius: 0.5em;
    }
    #create-sitemap:hover{
   
        color: hsl(19, 100%, 50%);
        background-color: white;
        
    }
    .sitemap{
        width: 95%;
    }
}

.checkbox-oz{
    display: flex;
    align-items: center;
    width: 30%;
    height: 3vh;
    label{
        width: 100%;
    }
    input{
        height: 2vh;
    }
}
.oz-content{
    width: 50%;
}

.glove-style{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.color-brand{
    width: 50%;

    .color{
        width: 50%;
    }
    select{
        width: 50%;
    }
}

