

.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.body{
 
    justify-content: left;

}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
    min-height: 100vh;
    width: 100%;
    background-color: hsl(0, 0%, 69%);
    
}

