.sidebar{
    width: 0;
    min-height: 100vh;
    background-color:hsl(0, 0%, 0%);
    position:fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.sidebar.active{
    width: 20%;
}

.link-menu{
    font-size: 1.5em;
    margin-top: 0.5em;
    ul{
        padding: 0;
        margin-top: 3em;
    }
    
    li{
        color: hsl(0, 0%, 100%);
        cursor: pointer;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }
}

li:hover{
    color:hsl(182, 38%, 68%);
    
}