.top-bar-form{
    width: 100%;
    height: 2.5em;
    background-color: black ;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.left-top-bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2em; 
    margin-left:1em ;
    cursor: pointer;
   
    .tab-items{
        width: 5%;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.2em;

    }

    svg{
        width: 1.5em;
        height: 1.5em;
        color: white;
    }
}


.right-top-bar{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 9%;
    height: 2em; 
   
    #refresh-form{ 

        display: flex;
        align-items: center;
        background-color: black;
        width: 2em;
        background-color: hsl(182, 38%, 68%); ;
        border-width: 1;
        svg{
            width: 2em;
            height: 2em;
            color: rgb(0, 0, 0);
        }
    }
    
    #send{
        display: flex;
        align-items: center;
        background-color: black;
        width: 2em;
        background-color: hsl(182, 38%, 68%); ;
        border-width: 1;
        svg{
            width: 2em;
            height: 2em;
            color: rgb(0, 0, 0);
        }
    }

}



.tab-panel{
    margin: 2em 0;
    
    display: none;
    
}

.tab-panel.tab-active{
    
    display: block;
    
}

.tab-items.tab-active{
    background-color: hsl(182, 38%, 68%);
    svg{
        color: black;
    }
    
}
