
.table{
    width: 40%;
    margin-top: 2vh;
}

.table table {
    border-collapse:collapse;
    font-family: arial, sans-serif;
    width:100%;
    background-color: hsl(0, 0%, 100%);
    overflow-wrap: break-word;
    table-layout: fixed;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);
    overflow: auto;
    
   
}



.table tr{
    border-bottom: 0.1em solid hsla(0, 0%, 0%, 0.315);
    
}

.table td, .table th {

    text-align: center;
    
}
th{
    height: 2em;
   
}
.order-content{
    display: flex;
    flex-direction: row;
    p{
        margin-left: 00.2em;
    }
    #asc-order{
        width: 1em;
        height: 1em;
        display: flex;
        align-content: center;
    }
    #dsc-order{
        width: 1em;
        height: 1em;
        display: flex;
        align-content: center;
    }
    svg{
        width: 1em;
        height: 1em;
        margin: 0

    }
    .order-arrow{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

}

.table td{
    font-size: 0.8em;
    width: 2em;
    height: 3em;
    
}
.table tr:hover{
    background-color:hsl(0, 0%, 90%) ;
}
.table tr:nth-child(even):hover{
    background-color:hsl(0, 0%, 90%) ;

}

.table tr:nth-child(even) {
    background-color: hsl(0, 0%, 100%);
    
}

.table .button-container{
    display: flex;
    flex-direction: row;
    width:100%;
}

.edit{
    background-color: hsl(0, 0%, 100%);
    border:none;
    width:100%;
    transition-duration: 0.5s;
    height: 2.8em;
    svg{
     
        width: 15px;
        height: 15px ;
    }
}
.edit:hover{
    background-color: hsl(140, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
}

.remove{
    background-color: hsl(0, 0%, 100%);
    border: none;
    width: 100%;
    transition-duration: 0.5s;
    svg{
        
        width: 15px;
        height: 15px ;
    }
}
.remove:hover{
    background-color: hsl(0, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
    
}

.table-sortable th{
    cursor: pointer;
}

.table-sortable .th-sort-asc::after{
    content: "\25b4";
}
.table-sortable .th-sort-desc::after{
    content: "\25be";
}

.table-pagination{
    border: solid black;
    height: 4vh;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table-pagination-buttons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    .table-pagination-button{
        padding:0;
        width: 1.5em ;
        height:1em ;
        display: flex;
        align-items: center;
        
        svg{
            width: 1.5em ;
            height:1em ;
        }
    }
    
    
}