.upload-image-add.single,
.upload.single {
    align-items: center;
    border: 0.2em dashed hsl(183, 98%, 35%);
    color: #cccccc;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    height: 30vh;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
}

.upload-image-add:hover{
    border: 4px dashed hsl(19, 100%, 50%);
}
  
.upload-over {
    border-style: solid;
}

.upload-input {
    display: none;
}

.upload-thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow:hidden;
    background-color: #cccccc;
    background-size: cover;
   
}

.upload-thumb::after {
content: attr(data-label);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
    
}


.upload-gridbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2em
     
}

.upload-image-add.collection,
.upload.collection{
    border: 0.2em dashed hsl(183, 98%, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 6vh;
    cursor: pointer;
    margin-top: 0.5em;
    
    
}
.upload-image-add.collection:hover{
    border: 4px dashed hsl(19, 100%, 50%);
}

.upload-image-options{
    display: none;
}

.upload:hover .upload-image-options{
    display: initial;
    position: absolute;
    width: 2em;
    z-index: 300;

    svg{
        height: 2em;
        width: 2em;

        path{
            fill: hsl(0, 0%, 100%);
        }
    }
}

.p{
    height: 2vh;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 0.2em;
}