.language-bar-form{
    width: 100%;
    height: 2em;
    cursor: pointer;
    background-color: hsl(0, 0%, 0%);
    border-radius: 0.5em;
    display: flex;
    flex-direction: row;
    
}

.tab-item-language{
    width: 15%;
    height: 2em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
   
}
.tab-item-language.language-active{
    background-color: hsl(182, 38%, 68%);
    color: black;
}

.tab-panel-language{
    display: none;
}

.tab-panel-language.language-active{
    display: block;
}





