.main-image{
    width:100% ;
    height:100vh ;
    background-color: rgba(0, 0, 0, 0.397);
    position: fixed;
    z-index: 90;
    
}

.modal{
    width: 80% ;
    height: 60vh;
    background-color: rgb(202, 202, 202);
    position: fixed;
    z-index: 100;
    top: 15%;
    left: 10%;
    border-radius: 1em;
    border: solid 0.15em black;
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.modal-image{
    border: black solid 2px;
    width: 60%;
    height: 60vh;
}

.modal-image-attributes{
    border: black solid 2px;  
    width: 40%;
    height: 60vh;  
}


.image-form{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-image-store-button{

    width: 4em;
    height: 4vh;
    background-color: hsl(182, 38%, 68%);
    border: black solid 0.2em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 20em;
    svg{
        width: 4em;
        height: 4vh;
    }
}

.modal-image-delete-button{
    border: black solid 0.2em;
    width: 12em;
    height: 3vh;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 12em;
    margin-left: 12.2em;
    svg{
        height: 3vh;
        width: 3em;
       
    }
}



