#main-image.modal-active{
    width:100% ;
    height:100vh ;
    background-color: rgba(0, 0, 0, 0.397);
    position: fixed;
    z-index: 90;
    display: initial;
    
    
}

#main-image{
    
    display: none;
    
}


.modal{
    width: 80% ;
    height: 60vh;
    background-color: rgb(202, 202, 202);
    position: fixed;
    top: 15%;
    left: 10%;
    border-radius: 1em;
    border: solid 0.15em black;
    display: flex;
    flex-direction: row;
    padding: 1em;
}
.modal-image{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60vh;
   
}

.modal-image-container{
    max-width: 50%;
    max-height: 100%;
   
}

.modal-image-attributes{
   
    width: 40%;
    height: 60vh;  
}


.image-form{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-image-back-button{

    width: 4em;
    height: 4vh;
    background-color: white;
    border: black solid 0.2em;
    border-radius: 0.5em;
    cursor: pointer;
    margin-left: 20em;
    margin-top: 0.5em;
    svg{
        width: 4em;
        height: 4vh;
        color: hsl(182, 38%, 68%);;
    }
}
.modal-image-store-button{

    width: 40%;
    height: 4vh;
    background-color: hsl(182, 38%, 68%);
    border: black solid 0.2em;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    svg{
        width: 4em;
        height: 4vh;
    }
}

.modal-image-delete-button{
    border: black solid 0.2em;
    width: 90%;
    height: 3vh;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
    margin: 8em auto; 
    
    svg{
        height: 3vh;
        width: 3em;
       
    }
}



