.error-container{
    display:none;
    opacity: 0;
    transition: opacity 1s;
}

.error-container.active{

    background-color: red;
    border-radius: 0.2em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    opacity: 1;
    padding: 0 2em;
    position: relative;

    ul{
        
        li{
         
           
            padding: 0.1em 0;
            list-style: none;
        }
    }
}
