
#loader-container{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color:  hsl(0, 0%, 0%);
    opacity: 30%;
    position: fixed;
    z-index: 100;
   
}
#loader-container.loading{
    display: flex;
    
}

#loader-animation{
    display: flex;
    justify-content: center;
    align-self:center;
    margin: 0 auto;
    animation: 1.5s;

}



#loader-animation  div{
    width: 1em;
    height: 1em;
    margin: 0.5em;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    animation: loader-animation .5s infinite alternate;
}

@keyframes loader-animation {
    to{
        opacity: .1;
        transform: translate3d(0, -0.5em, 0);
    }
}

#loader-animation div:nth-child(2){
    animation-delay: 0.2s;
}
#loader-animation div:nth-child(3){
    animation-delay: 0.4s;
}