.modal-localization{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    position: fixed;
    right: 0;
    top: -100vh;
    transition: opacity 0.5s;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.439);
   
    
    

    &.modal-active{
        opacity: 1;
        top: 0vh;
    }

    .localization-option{

        cursor: pointer;
        margin: 1em;
        width: max-content;

        &:hover{
            box-shadow: 0px 7px 10px rgba(223, 238, 243, 0.3);
        }

        svg{
            width: 10em;            
        }
    }
}