.faq{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
    height: 5vh;
}
.faq-content{
    width: 100%;
    height:95vh;
    display: flex;
    flex-direction:column;
    align-items: center;

    .faq-description{
        width: 100%;
        height:60vh;
        max-height: none;
        display:flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
    }

    .faq-description-image{
       margin-top: 0.5em;
       max-height: 70%;
       max-width: 60%;
       
        
    }
    .faq-description-text{
       
        width: 40%;
        height: 100vh;

    }

}






