.main-content{
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:hsl(177, 70%, 41%);
    height: 5vh;
    width: 98%;
    outline: auto;
    font-size: 24px;
    font-weight: bold;
    margin: 0.2em auto;
    
}

.menu-button{

    position:absolute;
    left:1em;
}

.faqs{
    width: 60%;
    margin: 0 auto;
}

.faq{
    margin-top: 0.5em;
}

.faq-header{
    display: flex;
    justify-content: space-between;
    border-top: 0.2em solid hsl(0, 0%, 0%);
    border-bottom: 0.2em solid hsl(0, 0%, 0%);
    width: 100%;
    margin-top: 1em;

    .faq-button{
        margin: 0.5em;
        cursor: pointer;
    }
    
    .faq-button:hover svg{
        fill:hsl(177, 70%, 41%);
    }
    
    .faq-title h2{
        font-size: 1em;
        line-height: 3em;
        margin: 0;
        margin-left: 0.5em;
    }
}

.faq-description{

    font-size: 1em;
    max-height: 0;
    overflow: hidden;
    

    p{
       
        margin: 0.5em;
    }
}

.faq-description.active{
    background-color:hsla(177, 70%, 41%, 0.521); 
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
   
}


.faq-description-text{

    width: 50%;
    max-height:40vh ;

}

.image-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 70%;
}

.single-description-image-box{
    height: 25vh;
    width: 80%;
   
    display: flex;
    justify-content: center;
    

    .faq-image-single{
        max-height: 20vh;
        max-width: 90% ;
       
    }
}

.grid-description-image-box{
   
    height: 10vh;
    width: 70%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    .faq-image-collection{
        max-height: 5vh;
        max-width: 69% ;
        
        
    }

}




