.main-header{

    width: 100%;
    height: 15vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-bottom: 2px solid #000000;
    border-radius: 0px 0px 12px 12px;       
    
   
}
.header-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15vh;

}

.logo-container{

    width: 20%;
    height: 15vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   
    margin-top: 0.5em;
    a{
        width: 90%;
    }

    img{
    width: 100%;
    
    }   

}

.header-menu{
  
    width: 40%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.contact{
    color: black;
}
.prueba{
    color: black;
}