.sidebar{
    width: 0;
    min-height: 100vh;
    background-color:hsl(0, 0%, 0%);
    position:fixed;
    right: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.sidebar.active{
    width: 20%;
}

.link-menu{
    font-size: 1.5em;
    margin-top: 3em;
    cursor: pointer;
   
    p,a,h4,h5{
		color: white;
		font-weight: 400;
	}
    
    
}

