.sidebar{
    width: 0;
    height: 100%;
    background-color:hsl(0, 0%, 0%);
    position:fixed;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 3;
}

.sidebar.active{
    width: 20%;
}

.link-menu{
    font-size: 1.5em;
    margin-top: 0.5em;
   
    p,a,h4,h5{
		color: white;
		font-weight: 400;
	}
    
    
}

