.glove{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    
}
.two-columns{
    
    width: 100%;
}

.glove-image-content{
    margin-top: 1em;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .glove-image-collection{
        width: 25em;
        
    }
}
.glove-description-content{
    margin-top: 1em;
    margin-left: 0.2em;
    width: 100%;
}
.title-price{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .glove-title{
        width: 60%;
    }
    .glove-price{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
    }
}
.glove-color{
    margin-top: 6vh;
    margin-left: 1em;
    input{
        width: 30%;
        border: none;
        height: 4vh;
    }
   
}
.glove-oz{
    margin-left: 1em;
    
}

.add-cart{
    width: 100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 8vh;
    margin-top: 5vh;
    

    .cart-button{
        height: 4em;
        width: 60%;
        background-color: black;
        color: white;
        border-radius: 4em;
        display: flex;
        justify-content: center;
        align-items: center;

        svg{
            color: white;
            width: 3em;
            height: 3vh;
        }
        
    }

}


.glove-description-text{
   
    margin:auto;
    max-width: 80%;
    height: 20vh;
    margin-top: 6vh;
}
