.main-filter{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.filter{
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0vh;
    background-color: white;
    transition: 0.5s;
    .filter-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60vh;
    }
    .label-container{
        width: 30%;
        text-align: center;
        font-weight: bold;
    
       
    }
    .input-container{
        width: 40%;
        margin-top: 0.5em;
        select{
            width: 100%;
        }
       
    }
    
}

.main-filter{

    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter.appear{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: white;

    .label-container{
        width: 30%;
        text-align: center;
        font-weight: bold;
    }
    .input-container{
        width: 40%;
    }

    button{
        margin: 1em;
        border: solid hsl(182, 38%, 68%);
        color: hsl(0, 0%, 0%);
        padding: 0.5em 1em;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        transition-duration: 0.4s;
        cursor: pointer;
    }
    button:hover {
        background-color:  hsl(182, 38%, 68%);
        color: white;
    }
    
}



.filter-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6vh;
    background-color:hsl(182, 38%, 68%);
    cursor: pointer;
    svg{
        width: 1.5em;
        height:1.5em;
    }
}

#date-container-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
 
    p{
        
        margin-right: 1em;
        margin-left: 1em;
    }
}

