

.form {
    display: none;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 0vh;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);

}
.form.visible{
    display: initial;
    height: 79vh;
}

.form form{
    
    width: 100%; 
    
}

.form-group {
   margin-left: 1em; 
   margin-bottom: 1em; 
}
.column{
    float: left;
    width: 50%;
    height: 20vh;

}
.label-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
}

.input-container{
    width: 90%;   
}

.input-container input{
    width: 100%;
   
}

.categories{
    width: 91%;
}

.county-box{
    width: 91%;
}

.button button{
  background-color: white;
  color: white;
  border: solid hsl(182, 38%, 68%);
  padding: 1em 1.2em;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 16px;
  margin: 0.5em 1em  ;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 8em;
}

.button button:hover {
    background-color:  hsl(182, 38%, 68%);
    color: white;
}

.category-name{

    width: 100%;

    select{
        width: 100%;
    }
   
}

#ckeditor-label{
    margin-left: 1em;
    width: 90%;

}




#send{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    height: 2em;
    width: 5em;
    svg{
        width: 1.5em;
        height: 1.5em;
    }
    

}

#refresh-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    height: 2em;
    width: 5em;
    svg{
        width: 2em;
        height: 2em;
    }
}

.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
}

.toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #475569;
    border-radius: 40px;
    cursor: pointer;
   .check{
       color: hsl(120, 100%, 50%);
       height: 1.5em;
   }
   .cross{
       color: hsl(0, 100%, 50%);
       height: 1.5em;
   }
}

  .toggle-thumb:before {
    content: "";
    height: 26px;
    width: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: .4s all ease;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox:checked + .toggle-thumb:before {
    transform: translateX(26px);
}

