

.form {
    display: none;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 79vh;
   
}
.form.visible{
    display: initial;
    height: 79vh;
}

.form form{
    
    width: 100%; 
    
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;

}
.column{
    float: left;
    width: 50%;
    height: 20vh;

}
.label-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
}

.input-container{
    width: 90%;   
}

.input-container input{
    width: 100%;
   
}

select{
    height: 1.5em;
}




.switch {
    display: inline-block;
    width: 60px;
    height: 34px;
    position: relative;
}

.toggle-thumb {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #475569;
    border-radius: 40px;
    cursor: pointer;
   .check{
       color: hsl(120, 100%, 50%);
       height: 1.5em;
   }
   .cross{
       color: hsl(0, 100%, 50%);
       height: 1.5em;
   }
}

  .toggle-thumb:before {
    content: "";
    height: 26px;
    width: 26px;
    position: absolute;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #E2E8F0;
    transition: .4s all ease;
}

.checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
.checkbox:checked + .toggle-thumb:before {
    transform: translateX(26px);
}



