.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.body{
 
    justify-content: left;

}


.main{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: 79vh;
    background-color: gray;
}