.success{
    width: 20em;
    height: 3em;
    font-size: 0.8em;
    background-color:hsl(0, 0%, 100%);
    border: 0.2em solid  green;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5em;
    right: -40em;
    transition: 0.5s;
    svg{
        width: 2em;
        height: 2em;
        color: green;
        margin-right:1em ;
    }
    .description-success{
        color: black;
    }

}


.error{
    width: 20em;
    height: 3em;
    font-size: 0.8em;
    background-color:hsl(0, 0%, 100%);
    border: 0.2em solid  rgb(255, 6, 6);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 5em;
    right: -40em;
    transition: 0.5s;
    svg{
        width: 2em;
        height: 2em;
        color: rgb(255, 6, 6);
        margin-right:1em ;
    }
    .description-success{
        color: black;
    }
}

.message.popup{
    right: 4em;
}

