
#table{
    display: none;
    width: 100%;
}

#table.visible{
    height: 100vh;
    display: initial;
    overflow: scroll;
}
.table .table {
    border-collapse:collapse;
    font-family: arial, sans-serif;
    width:100%;
    background-color: hsl(0, 0%, 100%);
    overflow-wrap: break-word;
    table-layout: fixed;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);
    
}

.table tr{
    border-bottom: 0.1em solid hsla(0, 0%, 0%, 0.315);
    
}

.table td, .table th {

    text-align: center;
    
}
th{
    height: 2em;
    font-size: 0.8em;
    background-color: rgb(189, 189, 189);
}

.table td{
    height: 4.25em;
    font-size: 0.8em;
    width: 8em;
    
}
.table tr:hover{
    background-color:hsl(0, 0%, 90%) ;
}
.table tr:nth-child(even):hover{
    background-color:hsl(0, 0%, 90%) ;

}

.table tr:nth-child(even) {
    background-color: hsl(0, 0%, 100%);
    
}

.table .button-container{
    display: flex;
    flex-direction: row;
    width:100%;
}

.edit{
    background-color: hsl(0, 0%, 100%);
    border: none;
    width:100%;
    transition-duration: 0.5s;
    height: 3em;
    svg{
     
        width: 1.5em;
        height: 1.5em ;
    }
}
.edit:hover{
    background-color: hsl(140, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
}

.remove{
    background-color: hsl(0, 0%, 100%);
    border: none;
    width: 100%;
    transition-duration: 0.5s;
    height: 3em;
    svg{
        
        width: 1.5em;
        height: 1.5em ;
    }
}
.remove:hover{
    background-color: hsl(0, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
    
}
.table-sortable th{
    cursor: pointer;
}

.table-sortable .th-sort-asc::after{
    content: "\25b4";
}
.table-sortable .th-sort-desc::after{
    content: "\25be";
}

.table-pagination{
  
    height: 4vh;
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.table-pagination-description{
    margin:1em;
    color: hsl(0, 0%, 100%);
}
.table-pagination-buttons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    .table-pagination-button{
        padding:0;
        width: 2.5em ;
        height:2em ;
        display: flex;
        align-items: center;
        margin: 0em 0.5em;
        
        svg{
            width: 2.5em ;
            height:2em ;
        }
    }
    
    
}