.top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 3em;
    background-color: black;
    z-index: 2;
    
}



.sidebar-button{
    width:3em;
    height:3em ;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    display:flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
   
   
}

.menu-btn-burger{
    width: 2em;
    height: 0.2em;
    background: white;
    border-radius: 0.8em;
    transition: all .5s ease-in-out;
}
.menu-btn-burger:before,
.menu-btn-burger:after {
    width: 2em;
    height: 0.2em;
    background: white;
    border-radius: 0.8em;
    transition: all .5s ease-in-out;
    content: '';
    position: absolute;
}

.menu-btn-burger:before{
    transform: translateY(-0.6em);
}
.menu-btn-burger:after{
    transform: translateY(0.6em);
}
/*animation*/
.menu-btn.active .menu-btn-burger{
    transform: translateX(-4em);
    background: transparent;
}
.menu-btn.active .menu-btn-burger:before{
    transform: rotate(45deg) translate(2.5em, -2.5em);
}
.menu-btn.active .menu-btn-burger:after{
    transform: rotate(-45deg) translate(2.5em, 2.5em);
}

#title-page{
    align-items: center;
    display: flex;
    color: hsl(0, 0%, 100%);
    margin-left: 0.5em;
    height: 4vh;
    width: 4.5em;
    font-size: 1em;
    font-weight: bold;
   

}
