.upload {
    align-items: center;
    border: 0.2em dashed hsl(183, 98%, 35%);
    color: #cccccc;
    cursor: pointer;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    height: 30vh;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
}

.upload:hover{
    border: 4px dashed hsl(19, 100%, 50%);
}
  
.upload-over {
    border-style: solid;
}



.upload-input {
    display: none;
}

.upload-thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow:hidden;
    background-color: #cccccc;
    background-size: cover;
   
}

.upload-thumb::after {
content: attr(data-label);
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
    
}


.gridbox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1);
    margin:0 auto;
    
    
}

.grid{
    border: 0.2em dashed hsl(183, 98%, 35%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vh;
    cursor: pointer;
    margin-top: 0.5em;

}


.svg-box{
    width: 100%;
    height: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.edit-image{
    width: 1.5em ;
    height:1.5em ;
    color: black;
}
.edit-image:hover{
    color:hsl(183, 98%, 35%);
}

.delete-image{
    width: 1.5em ;
    height:1.5em ;
    color: black;
}
.delete-image:hover{
    color:hsl(19, 100%, 50%);
}

.p{
    height: 3vh;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 0.2em;
}