@charset "UTF-8";
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.body {
  justify-content: left;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
  background-color: #b0b0b0;
}

.form {
  background-color: white;
  width: 50%;
  height: 50vh;
  margin-top: 4vh;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.226);
}

.formulario {
  display: flex;
  flex-direction: column;
}

.button-form-container {
  display: flex;
  flex-direction: row;
}

.form form {
  width: 100%;
}

.form-group {
  margin-bottom: 1em;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.label-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 90%;
}

.input-container {
  width: 90%;
}

.input-container input {
  width: 100%;
}

.categories {
  width: 91%;
}

.county-box {
  width: 91%;
}

.button button {
  background-color: white;
  border: solid #8ecacc;
  color: white;
  padding: 0.5em 0.8em;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 1em;
  margin: 0.5em;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button button:hover {
  background-color: #8ecacc;
  color: white;
}

.category-name {
  width: 100%;
}
.category-name select {
  width: 100%;
}

#ckeditor-label {
  margin-top: 1em;
}

#textarea {
  margin-top: 2em;
  height: 20em;
}

#send {
  margin-top: 1em;
  height: 2em;
}
#send svg {
  width: 1em;
  height: 1em;
}

#refresh-form {
  margin-top: 1em;
  height: 2em;
}
#refresh-form svg {
  width: 1.5em;
  height: 1.5em;
}

.table {
  width: 40%;
  margin-top: 2vh;
}

.table table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
  background-color: white;
  overflow-wrap: break-word;
  table-layout: fixed;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.226);
  overflow: auto;
}

.table tr {
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.315);
}

.table td, .table th {
  text-align: center;
}

th {
  height: 2em;
}

.order-content {
  display: flex;
  flex-direction: row;
}
.order-content p {
  margin-left: 0.2em;
}
.order-content #asc-order {
  width: 1em;
  height: 1em;
  display: flex;
  align-content: center;
}
.order-content #dsc-order {
  width: 1em;
  height: 1em;
  display: flex;
  align-content: center;
}
.order-content svg {
  width: 1em;
  height: 1em;
  margin: 0;
}
.order-content .order-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.table td {
  font-size: 0.8em;
  width: 2em;
  height: 3em;
}

.table tr:hover {
  background-color: #e6e6e6;
}

.table tr:nth-child(even):hover {
  background-color: #e6e6e6;
}

.table tr:nth-child(even) {
  background-color: white;
}

.table .button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.edit {
  background-color: white;
  border: none;
  width: 100%;
  transition-duration: 0.5s;
  height: 2.8em;
}
.edit svg {
  width: 15px;
  height: 15px;
}

.edit:hover {
  background-color: #059e38;
  color: white;
}

.remove {
  background-color: white;
  border: none;
  width: 100%;
  transition-duration: 0.5s;
}
.remove svg {
  width: 15px;
  height: 15px;
}

.remove:hover {
  background-color: #9e0505;
  color: white;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "▴";
}

.table-sortable .th-sort-desc::after {
  content: "▾";
}

.table-pagination {
  height: 4vh;
  float: left;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.table-pagination-description {
  margin-right: 14em;
}

.table-pagination-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.table-pagination-buttons .table-pagination-button {
  padding: 0;
  width: 2.5em;
  height: 2em;
  display: flex;
  align-items: center;
  margin: 0em 0.5em;
}
.table-pagination-buttons .table-pagination-button svg {
  width: 2.5em;
  height: 2em;
}

.sidebar {
  width: 0;
  height: 100%;
  background-color: black;
  position: fixed;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 3;
}

.sidebar.active {
  width: 20%;
}

.link-menu {
  font-size: 1.5em;
  margin-top: 0.5em;
}
.link-menu ul {
  padding: 0;
  margin-top: 3em;
}
.link-menu li {
  color: white;
  cursor: pointer;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

li:hover {
  color: #8ecacc;
}

.main-topbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*animation*/
}
.main-topbar .top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3em;
  background-color: black;
  z-index: 2;
}
.main-topbar .sidebar-button {
  width: 3em;
  height: 3em;
  cursor: pointer;
  color: white;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.main-topbar .menu-btn-burger {
  width: 2em;
  height: 0.2em;
  background: white;
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
}
.main-topbar .menu-btn-burger:before,
.main-topbar .menu-btn-burger:after {
  width: 2em;
  height: 0.2em;
  background: white;
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
  content: "";
  position: absolute;
}
.main-topbar .menu-btn-burger:before {
  transform: translateY(-0.6em);
}
.main-topbar .menu-btn-burger:after {
  transform: translateY(0.6em);
}
.main-topbar .menu-btn.active .menu-btn-burger {
  transform: translateX(-4em);
  background: transparent;
}
.main-topbar .menu-btn.active .menu-btn-burger:before {
  transform: rotate(45deg) translate(2.5em, -2.5em);
}
.main-topbar .menu-btn.active .menu-btn-burger:after {
  transform: rotate(-45deg) translate(2.5em, 2.5em);
}
.main-topbar #title-page {
  color: white;
  text-align: center;
  margin-top: 0.5em;
  height: 3vh;
  width: 10em;
  font-size: 1.8em;
  font-weight: bold;
}

.main-filter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0vh;
  background-color: white;
  transition: 0.5s;
}
.filter .filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.filter .filter-form .date-input {
  margin-top: 0.5em;
  width: 50%;
}
.filter .label-container {
  width: 30%;
  text-align: center;
  font-weight: bold;
}
.filter .input-container {
  width: 30%;
}
.filter .input-container select {
  width: 100%;
}

.filter.appear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  background-color: white;
}
.filter.appear .label-container {
  width: 30%;
  text-align: center;
  font-weight: bold;
}
.filter.appear .input-container {
  width: 30%;
}
.filter.appear button {
  margin: 1em;
  border: solid #8ecacc;
  color: black;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
}
.filter.appear button:hover {
  background-color: #8ecacc;
  color: white;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3vh;
  background-color: #8ecacc;
  cursor: pointer;
}
.filter-button svg {
  width: 1.5em;
  height: 1.5em;
}

.success {
  width: 20em;
  height: 4em;
  background-color: #96f08e;
  border: 0.2em solid black;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -30em;
  right: -4em;
  transition: 0.5s;
}
.success .description-success {
  color: black;
}

.success.active {
  bottom: 30em;
  right: 4em;
}

.error {
  width: 20em;
  height: 4em;
  background-color: #f08e9f;
  border: 0.2em solid black;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: -30em;
  right: -4em;
  transition: 0.5s;
}
.error .description-error {
  color: black;
}

.error.active {
  bottom: 30em;
  right: 4em;
}

#loader-container {
  width: 20em;
  height: 8em;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #8ecacc;
  left: 40%;
  top: -10em;
  position: fixed;
  border: solid white 0.2em;
  z-index: 100;
}
#loader-container p {
  width: 5em;
  color: white;
}

#loader-container.active {
  top: 5em;
}

#loader-animation {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}

#loader-animation div {
  width: 1em;
  height: 1em;
  margin: 0.5em;
  border-radius: 50%;
  background-color: white;
  -webkit-animation: loader-animation 0.5s infinite alternate;
          animation: loader-animation 0.5s infinite alternate;
}

@-webkit-keyframes loader-animation {
  to {
    opacity: 0.1;
    transform: translate3d(0, -0.5em, 0);
  }
}

@keyframes loader-animation {
  to {
    opacity: 0.1;
    transform: translate3d(0, -0.5em, 0);
  }
}
#loader-animation div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#loader-animation div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* Container
   ========================================================================== */
.container {
  width: 100%;
  padding: 0;
}

/* Bootstrap */
.navbar-expand-lg {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

label {
  margin-bottom: 0;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

.row {
  margin: 0;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* List
==============================================================================*/
ol, ul {
  list-style: none;
}
